  <article class="homepage_content">
    <div>
      <h1 class="homepage_title">Search EThOS (E-Theses Online Service)</h1>
      <p class="homepage_intro">Search the metadata of over 650,000 UK doctoral theses.</p>

      <%= render partial: 'catalog/search_form' %>

      <div class="flex-row flex-layout-space-between width-100 welcome-announcements-container">
        <div class="announcements display-flex flex-column">
          <header class="flex-column gap-1">
            <h2 role="heading" aria-level="3" class="announcements-item-title mat-headline-medium">Introducing EThOS</h2>
          </header>
          <article>
            <p class="homepage_intro">We are pleased to share that EThOS (E-Theses Online Service) is now available again following restoration work.</p>
            <p class="homepage_intro">EThOS is an open access discovery platform for UK doctoral theses, managed by the British Library. The platform holds metadata for theses held in UK university repositories.</p>
            <p class="homepage_intro">In the platform you can find descriptions of over 650,000 theses from UK universities from the 1700s onwards. In many of the records in EThOS you will find a button ‘<b>Access thesis from university</b>’. This links to the metadata record of the thesis in the university repository, where it may be possible to download the thesis, if the university has made it available.
            <br/><br/>
            <b>Please note:</b>
            </p>
            <ul>
              <li>we are continuing to update the platform but there will be an initial backlog of content to work through</li>
              <li>not all theses are available from the university repository.</li>
            </ul>
            <p class="homepage_intro">
              For further details, please refer to our <%= link_to 'FAQs', hyrax.help_path, aria: current_page?(hyrax.help_path) ? {current: 'page'} : nil %> and <%= link_to t(:'hyrax.controls.about'), hyrax.about_path, aria: current_page?(hyrax.about_path) ? {current: 'page'} : nil %> sections.
            </p>
          </article>

        </div>
      </div>

    </div>
  </article>

