
<article class="bl-homepage">
  <div class="bl-hompage-container">
    <h1 class="bl_typographyBase bl_heading1 bl_centered">Welcome to EThOS</h1>
    <p class="bl_typographyBase bl_typography bl_centered HeroBanner_introText__cj7AX">E-Theses On-line Service from the British Library.</p>
  </div>

  <!--<div class="Video_videoWrapper__tczmy"><video src="https://cdn.sanity.io/files/v5dwkion/production/b741fe29b38293b627aa9419a2346e14c6412c41.mp4/british-library-website-welcome-video-2025-rf26.mp4" class="HeroBanner_headerAsset__gBu8C" poster="https://www.bl.uk/images/v5dwkion/production/5c74153cc4a1bdda72cb9d1ee34b036542c24ea9-6720x4480.jpg/woman-sat-book-reading-room-2024.jpg?w=2560&amp;auto=format" muted="" loop="" playsinline="" disablepictureinpicture=""></video><div class="Video_videoControls__Ek6dS"><button aria-label="Pause video" class="IconButton_iconButton__eEZsx Video_videoControlButton__xfXp5"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="IconButton_icon__ZUgNY"><path d="M9 17V7M15 17V7" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg></button></div>-->

  </article>
