  <article class="homepage_content">
    <div>
      <h1 class="homepage_title">EThOS</h1>
      <p class="homepage_intro">E-Theses Online Service (EThOS) was a bibliographic database and union catalogue of electronic theses provided by the British Library, the National Library of the United Kingdom. As of February 2022 EThOS provided access to over 500,000 doctoral theses awarded by over 140 UK higher education institutions, with around 3,000 new thesis records added every month until the British Library cyberattack forced the service to be temporarily taken offline.
      </p>

      <%= render partial: 'catalog/search_form' %>

    </div>
  </article>

