  <meta name="viewport" content="width=device-width,initial-scale=1">
  <div class="dialog">
    <div>
      <h1>We're sorry, but something went wrong.</h1>
    </div>
    <p><%= link_to "Return EThOS homepage", hyrax.root_path %>. Should this error persist, please use the 'Contact' link to let us know.</p>
  </div>
  <div class="to_bottom">&nbsp;</div>
