  <meta name="viewport" content="width=device-width,initial-scale=1">
  <div class="dialog">
    <div>
      <h1>The change you wanted was rejected.</h1>
      <p>Maybe you tried to change something you didn't have access to.</p>
    </div>
    <p><%= link_to "Return EThOS homepage", hyrax.root_path %></p>
  </div>
  <div class="to_bottom">&nbsp;</div>
