
<div>
  <footer class="Footer_footer___teav">
    <div class="Footer_linkListSectionsWrapper__ZfoDA">
      <div class="Footer_linkListSection__3KgIe">
        <div><span class="Typography_typographyBase__IuNNw Typography_button__ytRRw Footer_linkListSectionTitleText__C_5Rx">About us</span></div>
        <ul class="Footer_linkList__sjJx6">
          <li><a class="Footer_navigationLink__9jLzE" target="_self" href="/about"><span class="Typography_typographyBase__IuNNw Typography_body__m2ESa">Who we are</span></a></li>
          <li><a class="Footer_navigationLink__9jLzE" target="_self" href="/about/learn"><span class="Typography_typographyBase__IuNNw Typography_body__m2ESa">Learning</span></a></li>
          <li><a class="Footer_navigationLink__9jLzE" target="_self" href="/about/press"><span class="Typography_typographyBase__IuNNw Typography_body__m2ESa">Press and media</span></a></li>
          <li><a class="Footer_navigationLink__9jLzE" target="_self" href="/about/careers"><span class="Typography_typographyBase__IuNNw Typography_body__m2ESa">Jobs</span></a></li>
          <li><a class="Footer_navigationLink__9jLzE" target="_self" href="/about/cyber-attack"><span class="Typography_typographyBase__IuNNw Typography_body__m2ESa">Cyber-attack</span></a></li>
        </ul>
      </div>
      <div class="Footer_linkListSection__3KgIe">
        <div><span class="Typography_typographyBase__IuNNw Typography_button__ytRRw Footer_linkListSectionTitleText__C_5Rx">Join us</span></div>
        <ul class="Footer_linkList__sjJx6">
          <li><a class="Footer_navigationLink__9jLzE" target="_self" href="/visit/reader-pass"><span class="Typography_typographyBase__IuNNw Typography_body__m2ESa">Free Reader Pass</span></a></li>
          <li><a class="Footer_navigationLink__9jLzE" target="_self" href="/visit/reading-rooms"><span class="Typography_typographyBase__IuNNw Typography_body__m2ESa">Free study spaces</span></a></li>
          <li><a class="Footer_navigationLink__9jLzE" target="_self" href="/visit/membership"><span class="Typography_typographyBase__IuNNw Typography_body__m2ESa">Membership</span></a></li>
          <li><a class="Footer_navigationLink__9jLzE" target="_self" rel="external" href="https://support.bl.uk"><span class="Typography_typographyBase__IuNNw Typography_body__m2ESa">Support our work</span></a></li>
        </ul>
      </div>
      <div class="Footer_linkListSection__3KgIe">
        <div><span class="Typography_typographyBase__IuNNw Typography_button__ytRRw Footer_linkListSectionTitleText__C_5Rx">Services</span></div>
        <ul class="Footer_linkList__sjJx6">
          <li><a class="Footer_navigationLink__9jLzE" target="_self" href="/hubs/business"><span class="Typography_typographyBase__IuNNw Typography_body__m2ESa">Business</span></a></li>
          <li><a class="Footer_navigationLink__9jLzE" target="_blank" rel="noopener noreferrer external" href="https://imagesonline.bl.uk/"><span class="Typography_typographyBase__IuNNw Typography_body__m2ESa">Collection images</span></a></li>
          <li><a class="Footer_navigationLink__9jLzE" target="_self" href="/services/digitisation"><span class="Typography_typographyBase__IuNNw Typography_body__m2ESa">Digitisation</span></a></li>
          <li><a class="Footer_navigationLink__9jLzE" target="_self" href="/services/legal-deposit"><span class="Typography_typographyBase__IuNNw Typography_body__m2ESa">Legal deposit</span></a></li>
          <li><a class="Footer_navigationLink__9jLzE" target="_self" href="/services/collection-metadata-services"><span class="Typography_typographyBase__IuNNw Typography_body__m2ESa">Metadata services</span></a></li>
        </ul>
      </div>
      <div class="Footer_linkListSection__3KgIe">
        <div></div>
        <ul class="Footer_linkList__sjJx6">
          <li><a class="Footer_navigationLink__9jLzE" target="_self" href="/services/plr"><span class="Typography_typographyBase__IuNNw Typography_body__m2ESa">Public Lending Right (PLR)</span></a></li>
          <li><a class="Footer_navigationLink__9jLzE" target="_self" href="/services/research-collaboration"><span class="Typography_typographyBase__IuNNw Typography_body__m2ESa">Research collaboration</span></a></li>
          <li><a class="Footer_navigationLink__9jLzE" target="_self" href="/services/commercial-venue-hire"><span class="Typography_typographyBase__IuNNw Typography_body__m2ESa">Venue hire</span></a></li>
          <li><a class="Footer_navigationLink__9jLzE" target="_self" href="/services"><span class="Typography_typographyBase__IuNNw Typography_body__m2ESa">All services</span></a></li></ul></div></div><div class="Footer_footerBottomHalf__m3Z1f"><div class="Footer_secondaryLinksWrapper__ZnoKN"><ul class="Footer_secondaryLinkList__KqJzw"><li><a class="Footer_navigationLink__9jLzE" target="_self" href="/privacy"><span class="Typography_typographyBase__IuNNw Typography_button__ytRRw">Privacy policy</span></a></li>
          <li><a class="Footer_navigationLink__9jLzE" target="_self" href="/terms"><span class="Typography_typographyBase__IuNNw Typography_button__ytRRw">Terms and conditions</span></a></li>
          <li><a class="Footer_navigationLink__9jLzE" target="_self" href="/foi"><span class="Typography_typographyBase__IuNNw Typography_button__ytRRw">Freedom of information</span></a></li>
          <li><a class="Footer_navigationLink__9jLzE" target="_self" href="/accessibility-statement"><span class="Typography_typographyBase__IuNNw Typography_button__ytRRw">Accessibility statement</span></a></li>
          <li><a class="Footer_navigationLink__9jLzE" target="_self" href="/about/contact"><span class="Typography_typographyBase__IuNNw Typography_button__ytRRw">Contact us</span></a></li>
        </ul>
      </div>
      <div class="Footer_copyright___JZCO">
        <div><p class="Typography_typographyBase__IuNNw Typography_body__m2ESa RichText_paragraph__cIeFU">© 2026 British Library, 96 Euston Road, London, NW1 2DB<br/>
        Platform provided by CoSector, University of London.</p></div>
      </div>
      <div class="Footer_socialLinksWrapper__mVcxr"><a aria-label="x / Twitter" class="IconButton_iconButton__eEZsx Footer_socialLink__LLIKA" target="_blank" rel="noopener noreferrer external" href="https://twitter.com/britishlibrary/"><svg xmlns="http://www.w3.org/2000/svg" fill="none" width="24" height="24" viewBox="0 0 24 24" class="IconButton_icon__ZUgNY"><path fill="currentColor" d="m17.687 3.063-4.996 5.711-4.32-5.711H2.112l7.477 9.776-7.086 8.099h3.034l5.469-6.25 4.78 6.25h6.102l-7.794-10.304 6.625-7.571h-3.032Zm-1.064 16.06L5.654 4.782h1.803l10.846 14.34-1.68.001Z"></path></svg></a><a aria-label="facebook / meta" class="IconButton_iconButton__eEZsx Footer_socialLink__LLIKA" target="_blank" rel="noopener noreferrer external" href="https://www.facebook.com/britishlibrary/"><svg xmlns="http://www.w3.org/2000/svg" fill="none" width="24" height="24" viewBox="0 0 24 24" class="IconButton_icon__ZUgNY"><path fill="currentColor" d="M9.198 21.5h4v-8.01h3.604l.396-3.98h-4V7.5a1 1 0 0 1 1-1h3v-4h-3a5 5 0 0 0-5 5v2.01h-2l-.396 3.98h2.396v8.01Z"></path></svg></a><a aria-label="Instagram" class="IconButton_iconButton__eEZsx Footer_socialLink__LLIKA" target="_blank" rel="noopener noreferrer external" href="https://www.instagram.com/britishlibrary/"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="IconButton_icon__ZUgNY"><path d="M7.8 2H16.2C19.4 2 22 4.6 22 7.8V16.2C22 17.7383 21.3889 19.2135 20.3012 20.3012C19.2135 21.3889 17.7383 22 16.2 22H7.8C4.6 22 2 19.4 2 16.2V7.8C2 6.26174 2.61107 4.78649 3.69878 3.69878C4.78649 2.61107 6.26174 2 7.8 2ZM7.6 4C6.64522 4 5.72955 4.37928 5.05442 5.05442C4.37928 5.72955 4 6.64522 4 7.6V16.4C4 18.39 5.61 20 7.6 20H16.4C17.3548 20 18.2705 19.6207 18.9456 18.9456C19.6207 18.2705 20 17.3548 20 16.4V7.6C20 5.61 18.39 4 16.4 4H7.6ZM17.25 5.5C17.5815 5.5 17.8995 5.6317 18.1339 5.86612C18.3683 6.10054 18.5 6.41848 18.5 6.75C18.5 7.08152 18.3683 7.39946 18.1339 7.63388C17.8995 7.8683 17.5815 8 17.25 8C16.9185 8 16.6005 7.8683 16.3661 7.63388C16.1317 7.39946 16 7.08152 16 6.75C16 6.41848 16.1317 6.10054 16.3661 5.86612C16.6005 5.6317 16.9185 5.5 17.25 5.5ZM12 7C13.3261 7 14.5979 7.52678 15.5355 8.46447C16.4732 9.40215 17 10.6739 17 12C17 13.3261 16.4732 14.5979 15.5355 15.5355C14.5979 16.4732 13.3261 17 12 17C10.6739 17 9.40215 16.4732 8.46447 15.5355C7.52678 14.5979 7 13.3261 7 12C7 10.6739 7.52678 9.40215 8.46447 8.46447C9.40215 7.52678 10.6739 7 12 7ZM12 9C11.2044 9 10.4413 9.31607 9.87868 9.87868C9.31607 10.4413 9 11.2044 9 12C9 12.7956 9.31607 13.5587 9.87868 14.1213C10.4413 14.6839 11.2044 15 12 15C12.7956 15 13.5587 14.6839 14.1213 14.1213C14.6839 13.5587 15 12.7956 15 12C15 11.2044 14.6839 10.4413 14.1213 9.87868C13.5587 9.31607 12.7956 9 12 9Z" fill="currentColor"></path></svg></a><a aria-label="TikTok" class="IconButton_iconButton__eEZsx Footer_socialLink__LLIKA" target="_blank" rel="noopener noreferrer external" href="https://www.tiktok.com/@britishlibrary"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="IconButton_icon__ZUgNY"><path d="M16.6 5.82C15.9166 5.03953 15.5399 4.0374 15.54 3H12.45V15.4C12.4266 16.0712 12.1435 16.7071 11.6603 17.1735C11.1771 17.6399 10.5316 17.9004 9.85997 17.9C8.43997 17.9 7.25997 16.74 7.25997 15.3C7.25997 13.58 8.91997 12.29 10.63 12.82V9.66C7.17997 9.2 4.15997 11.88 4.15997 15.3C4.15997 18.63 6.91997 21 9.84997 21C12.99 21 15.54 18.45 15.54 15.3V9.01C16.793 9.90985 18.2973 10.3926 19.84 10.39V7.3C19.84 7.3 17.96 7.39 16.6 5.82Z" fill="currentColor"></path></svg></a></div>
    </div>
  </footer>
</div>
