<% # OVERRIDE: Hyrax v5.0.1 template to include the advanced_search button %>
<%= form_tag search_form_action, method: :get, class: "search-form", id: "search-form-header", role: "search", onsubmit: "$('.magnifying_glass').hide(); $('.loading_dots').show();" do %>
  <%= render Blacklight::HiddenSearchStateComponent.new(params: search_state.params_for_search.except(:q, :search_field, :qt, :page, :utf8)) %>
  <%= hidden_field_tag :search_field, 'all_fields' %>

  <div class="search-bar-container">
    <div class="flex-row flex-1">
      <div class="search-bar-wrapper search-bar-wrapper-no-mobile-width">
        <div data-qa="search_box_container" class="search_box_container">
          <h2 class="visually-hidden"> Search bar </h2>
          <input autocomplete="off" name="q" type="text" id="main-search-bar" class="mat-mdc-input-element mat-mdc-autocomplete-trigger search-input-field cdk-text-field-autofill-monitored" aria-label="Search field" placeholder="Search EThOS" aria-invalid="false" aria-required="false" role="combobox" aria-autocomplete="list" aria-expanded="false" aria-haspopup="listbox">
            <div class="search-bar-actions inline-block">
              <button type="submit" class="mat-mdc-tooltip-trigger search-btn mdc-icon-button mat-mdc-icon-button mat-unthemed mat-mdc-button-base" aria-label="Submit search">
                <svg class="magnifying_glass" onclick="$(this).hide(); $('.loading_dots').show();" height="100%" viewBox="0 -960 960 960" width="100%" fill="#666666" fit="" preserveAspectRatio="xMidYMid meet" focusable="false"><path d="M380-320q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l224 224q11 11 11 28t-11 28q-11 11-28 11t-28-11L532-372q-30 24-69 38t-83 14Zm0-80q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z"></path></svg>
                <svg class="loading_dots" style="display: none;" fill="hsl(33 0% 40%)" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><circle cx="4" cy="12" r="3" opacity="1"><animate id="spinner_qYjJ" begin="0;spinner_t4KZ.end-0.25s" attributeName="opacity" dur="0.75s" values="1;.2" fill="freeze"/></circle><circle cx="12" cy="12" r="3" opacity=".4"><animate begin="spinner_qYjJ.begin+0.15s" attributeName="opacity" dur="0.75s" values="1;.2" fill="freeze"/></circle><circle cx="20" cy="12" r="3" opacity=".3"><animate id="spinner_t4KZ" begin="spinner_qYjJ.begin+0.3s" attributeName="opacity" dur="0.75s" values="1;.2" fill="freeze"/></circle></svg>
              </button>
            </div>
          </div>
        </div>
        <div class="flex-row ng-star-inserted" style="gap: 0.75rem;">
          <%= link_to "/advanced" do %>
          <button class="ethos-button basic-button mdc-button mat-mdc-button mat-unthemed mat-mdc-button-base">
            <span class="mat-mdc-button-persistent-ripple mdc-button__ripple"></span>
            <span class="mdc-button__label">Advanced search </span>
          </button>
        <% end %>
  
        </div>
    </div>
  </div>

<% end %>
