<h1 class="sr-only visually-hidden top-content-title"><%= t('blacklight.search.header') %></h1>
<a class="mobile_jump_to_facet" onclick="window.location.href='#facets'; return false;">Jump to "Limit your search"</a>
