:root {
    --white: #fffbfb;
    --black: #28261b;
    --gray-1: #f5f3ef;
    --gray-2: #e8e6dc;
    --gray-3: #d4d0c3;
    --gray-4: #77756f;
    --gray-5: #5a5853;
    --gray-6: #383833;
    --black-transparent-1: rgb(from var(--black) r g b/0.2);
    --black-transparent-2: rgb(from var(--black) r g b/0.4);
    --black-transparent-3: rgb(from var(--black) r g b/0.6);
    --black-transparent-4: rgb(from var(--black) r g b/0.8);
    --shadow-dark-1: rgb(from var(--black) r g b/0.2);
    --shadow-dark-2: rgb(from var(--black) r g b/0.3);
    --shadow-dark-3: rgb(from var(--black) r g b/0.4);
    --shadow-dark-4: rgb(from var(--black) r g b/0.6);
    --shadow-dark-5: rgb(from var(--black) r g b/0.8);
    --shadow-dark-6: rgb(from var(--black) r g b/0.94);
    --shadow-light-1: rgb(from var(--white) r g b/0.2);
    --shadow-light-2: rgb(from var(--white) r g b/0.3);
    --shadow-light-3: rgb(from var(--white) r g b/0.4);
    --shadow-light-4: rgb(from var(--white) r g b/0.6);
    --color-text-primary: #28261b;
    --color-text-primary-hover: #5a5853;
    --color-text-primary-fixed: #28261b;
    --color-text-primary-inversed: #fffbfb;
    --color-text-tertiary: #5a5853;
    --color-text-on-surface-1: #77756f;
    --color-text-on-surface-5: #5a5853;
    --color-text-on-surface-7: #77756f;
    --color-text-on-surface-8: #77756f;
    --color-title-on-surface-1: #28261b;
    --color-title-on-surface-7: #28261b;
    --color-title-on-surface-8: #28261b;
    --icon-color-secondary: #5a5853;
    --green-1-light: #ddf991;
    --green-1-dark: #46bc3d;
    --green-2-light: #9ce8a6;
    --green-2-dark: #01541b;
    --blue-light: #b5e5ff;
    --blue-dark: #0169b4;
    --turq-1-light: #9ee4c7;
    --turq-1-dark: #05a18a;
    --turq-2-light: #0c747c;
    --turq-2-dark: #5fc2c9;
    --purple-light: #ddcbff;
    --purple-dark: #7c4b95;
    --yellow-light: #ffef99;
    --yellow-dark: #f2cc08;
    --orange-light: #ffcd72;
    --orange-dark: #f19500;
    --red-light: #facfc7;
    --red-dark: #c3474f;
    --background-primary: #fffbfb;
    --background-secondary: #f5f3ef;
    --surface-navigation-inversed: #f5f3ef;
    --surface-primary: #28261b;
    --surface-primary-hover: #5a5853;
    --surface-secondary: #e8e6dc;
    --surface-secondary-hover: #d4d0c3;
    --surface-secondary-inversed: #d4d0c3;
    --surface-secondary-inversed-hover: #e8e6dc;
    --surface-tertiary: #f5f3ef;
    --surface-tertiary-hover: #fffbfb;
    --surface-tertiary-hover-inversed: #f5f3ef;
    --surface-tertiary-inversed: #fffbfb;
    --surface-navigation: #fffbfb;
    --surface-logo: #f5f3ef;
    --surface-logo-hover: #fffbfb;
    --surface-color-1: #ddf991;
    --surface-color-2: #9ce8a6;
    --surface-color-3: #b5e5ff;
    --surface-color-4: #9ee4c7;
    --surface-color-5: #5fc2c9;
    --surface-color-6: #ddcbff;
    --surface-color-7: #ffef99;
    --surface-color-8: #ffcd72;
    --surface-color-9: #facfc7;
    --surface-backdrop: rgba(0,0,0,0.5);
    --border-color-primary: #77756f;
    --border-color-secondary: #f5f3ef;
    --border-color-tertiary: #d4d0c3;
    --border-color-1: #46bc3d;
    --border-color-2: #01541b;
    --border-color-3: #0169b4;
    --border-color-4: #05a18a;
    --border-color-5: #0c747c;
    --border-color-6: #7c4b95;
    --border-color-7: #f2cc08;
    --border-color-8: #f19500;
    --border-color-9: #c3474f
}

@media(prefers-color-scheme: dark) {
    :root {
        --color-text-primary:#fffbfb;
        --color-text-primary-hover: #e8e6dc;
        --color-text-primary-inversed: #28261b;
        --color-text-tertiary: #e8e6dc;
        --color-text-on-surface-1: #383833;
        --color-text-on-surface-5: #f5f3ef;
        --color-text-on-surface-7: #383833;
        --color-text-on-surface-8: #383833;
        --color-title-on-surface-1: #28261b;
        --color-title-on-surface-7: #28261b;
        --color-title-on-surface-8: #28261b;
        --icon-color-secondary: #f5f3ef;
        --background-primary: #28261b;
        --background-secondary: #383833;
        --surface-navigation: #28261b;
        --surface-navigation-inversed: #383833;
        --surface-primary: #f5f3ef;
        --surface-primary-hover: #e8e6dc;
        --surface-secondary: #5a5853;
        --surface-secondary-hover: #77756f;
        --surface-secondary-inversed: #77756f;
        --surface-secondary-inversed-hover: #5a5853;
        --surface-tertiary: #383833;
        --surface-tertiary-inversed: #28261b;
        --surface-tertiary-hover: #28261b;
        --surface-tertiary-hover-inversed: #383833;
        --surface-logo: #f5f3ef;
        --surface-logo-hover: #e8e6dc;
        --surface-color-1: #46bc3d;
        --surface-color-2: #01541b;
        --surface-color-3: #0169b4;
        --surface-color-4: #05a18a;
        --surface-color-5: #0c747c;
        --surface-color-6: #7c4b95;
        --surface-color-7: #f2cc08;
        --surface-color-8: #f19500;
        --surface-color-9: #c3474f;
        --border-color-primary: #f5f3ef;
        --border-color-secondary: #383833;
        --border-color-tertiary: #5a5853;
        --border-color-1: #ddf991;
        --border-color-2: #9ce8a6;
        --border-color-3: #b5e5ff;
        --border-color-4: #9ee4c7;
        --border-color-5: #5fc2c9;
        --border-color-6: #ddcbff;
        --border-color-7: #ffef99;
        --border-color-8: #ffcd72;
        --border-color-9: #facfc7
    }
}

:root {
    --m-2: 2px;
    --m-4: 4px;
    --m-6: 6px;
    --m-8: 8px;
    --m-10: 10px;
    --m-12: 12px;
    --m-16: 16px;
    --m-20: 20px;
    --m-22: 22px;
    --m-24: 24px;
    --m-28: 28px;
    --m-32: 32px;
    --m-40: 40px;
    --m-48: 48px;
    --m-52: 52px;
    --m-60: 60px;
    --m-64: 64px;
    --m-80: 80px;
    --m-120: 120px;
    --m-164: 164px;
    --mr-2: 0.125rem;
    --mr-4: 0.25rem;
    --mr-6: 0.375rem;
    --mr-8: 0.5rem;
    --mr-10: 0.625rem;
    --mr-12: 0.75rem;
    --mr-16: 1rem;
    --mr-20: 1.25rem;
    --mr-24: 1.5rem;
    --mr-28: 1.75rem;
    --mr-32: 2rem;
    --mr-40: 2.5rem;
    --mr-48: 3rem;
    --mr-52: 3.25rem;
    --mr-60: 3.75rem;
    --mr-64: 4rem;
    --mr-80: 5rem;
    --mr-120: 7.5rem;
    --mr-164: 10.25rem;
    --block-spacing: var(--m-16) var(--m-120);
    --grid-gap: var(--m-16);
    --section-gap: var(--m-40);
    --grid-max-width: 90rem;
    --content-block-max-width: 38.75rem;
    --intro-text-max-width: 45rem;
    --radius-xxs: 8px;
    --radius-xs: 12px;
    --radius-s: 16px;
    --radius-m: 24px;
    --radius-l: 32px;
    --radius-xl: 40px;
    --radius-xxl: 60px;
    --font-sans: "Hind",sans-serif;
    --font-weight-bold: 700;
    --font-weight-semibold: 550;
    --font-weight-medium: 500;
    --font-weight-regular: 400;
    --font-weight-light: 300;
    --font-size-heading1: 2.625rem;
    --heading1-line-height: 1.2;
    --heading1-letter-spacing: -0.48px;
    --font-size-heading2: 2rem;
    --heading2-line-height: 1.2;
    --heading2-letter-spacing: 0;
    --font-size-heading3: 1.625rem;
    --heading3-line-height: 1.3;
    --heading3-letter-spacing: 0;
    --font-size-heading4: 1.3125rem;
    --heading4-line-height: 1.2;
    --heading4-letter-spacing: 0;
    --font-size-heading5: 1.1875rem;
    --heading5-line-height: 1.2;
    --heading5-letter-spacing: 0;
    --font-size-heading6: 1.1875rem;
    --heading6-line-height: 1.2;
    --heading6-letter-spacing: 0;
    --font-size-intro: 1.375rem;
    --intro-line-height: 1.4;
    --intro-letter-spacing: -0.01px;
    --font-size-body: 1.125rem;
    --body-line-height: 1.5;
    --body-letter-spacing: 0.14px;
    --font-size-button: 1rem;
    --button-line-height: 1.1;
    --button-letter-spacing: 0.16px;
    --font-size-label: 0.875rem;
    --label-line-height: 1.4;
    --label-letter-spacing: 0.2px
}

@media(min-width: 37.5rem) {
    :root {
        --font-size-heading1:4.25rem;
        --heading1-line-height: calc(74.8 / 68);
        --heading1-letter-spacing: -1.36px;
        --font-size-heading2: 2.75rem;
        --heading2-line-height: calc(46.2 / 44);
        --heading2-letter-spacing: -0.8px;
        --font-size-heading3: 2rem;
        --heading3-line-height: calc(38.4 / 32);
        --heading3-letter-spacing: -0.32px;
        --font-size-heading4: 1.3125rem;
        --heading4-line-height: calc(25.2 / 21);
        --font-size-heading5: 1.1875rem;
        --heading5-line-height: calc(22.8 / 19);
        --font-size-heading6: 1.1875rem;
        --heading6-line-height: calc(22.8 / 19);
        --font-size-intro: 1.375rem;
        --intro-line-height: calc(30.8 / 22);
        --intro-letter-spacing: 0;
        --font-size-body: 1.125rem;
        --body-line-height: calc(27 / 18);
        --font-size-button: 1rem;
        --button-line-height: calc(17.6 / 16);
        --font-size-label: 0.875rem;
        --label-line-height: calc(19.6 / 14)
    }
}

:root {
    --transition-duration-fast: 0.15s;
    --transition-duration-medium: 0.3s;
    --transition-duration-slow: 0.6s;
    --transition-fast: var(--transition-duration-fast) ease-in-out;
    --transition-medium: var(--transition-duration-medium) ease-in-out;
    --transition-slow: var(--transition-duration-slow) ease-in-out;
    --z-index-navigation-top: 100;
    --z-index-navigation-bottom: 99;
    --z-index-backdrop: 98;
    --z-index-home-button: 97;
    --shadow-light: 2px 2px 1px 0px rgba(40,38,27,0.2);
    --shadow-dark: 2px 2px 8px 0px rgba(40,38,27,0.4);
    --content-block-image-min-height-mobile: 200px;
    --content-block-image-min-height-tablet: 320px;
    --content-block-image-max-height-mobile: 400px;
    --content-block-image-max-height-tablet: 500px;
    --content-block-image-max-height-desktop: 700px
}


