/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* handled in admin UI appearance
 * body.public-facing{
  font-family: "Hind", sans-serif;
}
*/

body.public-facing .metadata-group dt {
  width: 20%;
}

body.public-facing .metadata-group dd {
  width: 80%;
}

body.public-facing div.metadata-group {
  display: flex;
}

body.public-facing .work-show.metadata-block dl .metadata-group:nth-child(even) {
    background-color: #F6F6F6;
    border-radius: 5px;
}

body.public-facing .work-show.metadata-block dl .metadata-group:nth-child(odd) {
    background-color: #fff;
    border-radius: 5px;
}
