<div class="metadata-group">
  <dt>University</dt>
<dd>
  <ul class="tabular">
    <li class="attribute attribute-current-he-institution">
      <span itemprop="inCurrentHeInsitution"><%= Hyrax::CurrentHeInstitutionsService.label(presenter.current_he_institution) %></span>
    </li>
  </ul>
</dd>
</div>
