<div class="metadata-group">
  <dt>Language</dt>
<dd>
  <ul class="tabular">
    <li class="attribute attribute-language">
      <span itemprop="inLanguage"><a href="/catalog?f%5Blanguage_sim%5D%5B%5D=<%=presenter.language.first%>&amp;locale=en"><%= Hyrax::LanguagesService.label(presenter.language) %></a></span>
    </li>
  </ul>
</dd>
</div>
