<div class="metadata-group">
  <dt>Qualification Name</dt>
<dd>
  <ul class="tabular">
    <li class="attribute attribute-qualification-name">
      <span itemprop="inQualificationName"><%= Hyrax::QualificationNamesService.label(presenter.qualification_name) %></span>
    </li>
  </ul>
</dd>
</div>
