<% presenter.abstract.each do |abstract| %>
  <div class="ethos-abstract">
    <input type="checkbox" id="expanded"/>
    <p id="ethos_abstract" style="line-height: 24px;" class="work_description"><%= iconify_auto_link(abstract) %></p>
      <button id="ethos-abstract-read-more"class="basic-button mdc-button mat-mdc-button mat-unthemed mat-mdc-button-base ethos-button tiny">
        <span class="mat-mdc-button-persistent-ripple mdc-button__ripple"></span>
        <span class="mdc-button__label"><label for="expanded" role="button">Read more</label></span>
      </button>
   </div>
    <script>
      /* Hide read more button id we are under the clamp limit (currently 20) */
      function countLines(id) { 
              var el = document.getElementById(id); 
              var divHeight = el.offsetHeight;
              console.log(divHeight);
              var lineHeight = parseInt(el.style.lineHeight); 
              var lines = divHeight / lineHeight; 
              return lines
            }
       if(countLines("ethos_abstract") < 20) {
          var el = document.getElementById("ethos-abstract-read-more");
          el.style.display = "none";
       }
    </script>

<% end %>
